.signup-page {
	max-height: 100vh;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;

	.content-init {
		h1 {
			margin-top: 0;
			// margin-bottom: 5px;
		}
        color: #fafafa;
	}

	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.input-box {
		position: relative;
		width: 80%;
		height: 50px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 15px;

		img {
			position: absolute;
			left: 13px;
			top: 30%;
		}

		.eye {
			position: absolute;
			left: 220px;
			top: 30%;
		}

		@media (max-width: 480px) {
			.eye {
				left: 210px;
			}
		}
	}

	.form-login {
		font-size: 16px;
		font-weight: 400;
		color: #afafaf;
		height: 50px;
		width: 100%;
		background-color: #fafafa;
		border: 1px solid #afafaf;
		border-radius: 8px;
		background-repeat: no-repeat;
		padding-left: 40px;

		&::placeholder {
			font-size: 16px;
			font-weight: 400;
			color: #afafaf;
		}
	}

	.esqueci-senha {
		&:hover {
			transform: scale(1);
			color: #009dcc;
			text-decoration: underline;
			cursor: pointer;
		}
	}

	.register {
		width: 60%;
		object-fit: cover;
		margin-top: -10px;
	}

	.btn {
		width: 80%;
	}

	.recovery {
		width: 80%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin-top: 10px;

		.hl {
			margin: 0 10px;
		}

		.esqueci-senha {
			color: #000000;
		}

		.cadastro {
			color: #000000;
		}
	}

	.help {
		width: 80%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin-top: 40px;

		a {
			color: #000000;
		}
	}
	.input-box.col-12.mb-3 {
		display: flex;
		flex-direction: column; /* Para organizar os elementos verticalmente */
		align-items: center; /* Centraliza o conteúdo horizontalmente */
		margin-bottom: 20px; /* Ajuste do espaçamento inferior */
		width: 100%; /* Garante que ocupe a largura total disponível */
		
		input {
		  width: 90%; /* Ajuste da largura para um tamanho confortável */
		  max-width: 400px; /* Limite máximo de largura */
		  height: 45px; /* Altura dos campos */
		  padding: 10px; /* Espaçamento interno */
		  font-size: 16px; /* Texto legível */
		  border: 1px solid #ccc; /* Borda sutil */
		  border-radius: 5px; /* Bordas arredondadas */
		  outline: none; /* Remove o contorno padrão */
		  transition: border-color 0.3s ease; /* Suaviza a mudança de cor da borda */
		}
		select{
			width: 90%; /* Ajuste da largura para um tamanho confortável */
		  max-width: 350px; /* Limite máximo de largura */
		  height: 45px; /* Altura dos campos */
		  padding: 10px; /* Espaçamento interno */
		  font-size: 16px; /* Texto legível */
		  border: 1px solid #ccc; /* Borda sutil */
		  border-radius: 5px; /* Bordas arredondadas */
		  outline: none; /* Remove o contorno padrão */
		  transition: border-color 0.3s ease; /* Suaviza a mudança de cor da borda */
		}
	  
		input:focus,
		select:focus {
		  border-color: #007bff; /* Cor da borda ao focar no campo */
		}
	  }
	  
}

